<div class="contenedor">
  <div class="container-lista">
    <div class ="header">
      <h1> lista de clases</h1>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let clase of clases">
          {{ clase.nombre }} 
        </li>
      </ul>
    </div>

    <div class="conatiner-form">
      <form (ngSubmit)="crearClase()">
        <input type="text" [(ngModel)]="nuevaClase.nombre" name="nombre">
        <input type="text" [(ngModel)]="nuevaClase.descripcion" name="descripcion">
        <button type="submit">Crear Clase</button>
      </form>
    </div>
  </div>

</div>
